
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    
    width: 100%;
    background: #E5E7EB;
    top: 0%;
    background-color: rgb(237, 224, 224);
    display: flex;
    position: fixed;/* fixed ou relative body schrollable ou non */
    top: 0;

    bottom:5px;
}

#popUp{
    width: 100%;height:fit-content; 
    display:none;
    position: absolute;
    background-color: #af737300;

  
    justify-content: flex-start;
    align-items: center;
    

    flex-direction:column;

    top:1px;



}

#popUpContent{
    width: 350px;height: 200px; 
    background-color: #ffffff;
    margin-left:30px;
    margin-right:30px;
    border-radius: 10px;
    box-shadow: #012573;
    z-index:5;

    box-shadow: 0.5px 1px 4px #323232;



    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction:column;

  


}

/* ---------------------------------------------------------------------- */



#menu {
    background: #012573;
    /* background: #009578; */
   
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

#menu-btn{
    color: #2b2b2b;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
    display: flex;
    align-items:stretch;
    justify-content: center;

}

#pointage-btn{
    color: #2b2b2b;
    font-size: 20px;
    cursor: pointer;
   

    display:flex;
    justify-content: center;
    align-items: center;
}

#menu .logo {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
}


#menu .logo img {
     width: 40px;
     height: 40px;
     margin-right: 15px;
     border-radius: 50%;
}
#menu .items {
    margin-top: 40px
}

#menu .items li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;

    
}

#menu .items li:hover{
    background: #253047;
    cursor: pointer;
}

#menu .items li:hover i,
#menu .items li:hover i {
    color: #F3F4F6;
}

#menu .items li:nth-child(1){
    border-left: 4px solid #fff; 
}

#menu .items li i{
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

#menu .items li a{   
    text-decoration: none;
    color:rgb(134, 141, 151) ;

    /* **************************************************** */
    color: #ffffff; 

    font-weight: 300px;
    transition: 0.3s ease;
}


#menu-btn{
    display: initial;
    display: none;
}


/* barre de recherche */


#interface .profile img {
    width: 4em;
    height:4em;
    border-radius: 50px;
}

#interface{
    width:calc(100% - 200px );
    margin-left: 200px;
    position: relative;
}

#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 30px;
    /* box-shadow: 0.5px 1px 4px #594ef7; */
    position: fixed;
    width:calc(100% - 200px );

    z-index: 3;

}

#interface .navigation .search{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     padding: 8px 15px;
     border: 1px solid #07153d ;
     border-radius: 5px;

     
}

input{
    border: none;
    outline: none;
    font-size: 14px;
}


#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
}

#interface .navigation .profile{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
#interface .navigation .profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

/* Dasboard */



input[type="file"],input[type="text"],button {
  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width:auto;

    font-size: 14px;

    margin-left: 10px;
    margin-right: 10px;

  }



.nav2{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;

}


.nav2 #nav2-btn img{
  
    margin-right:130px;
    
    width: 35px;
    height: 25px;
    object-fit: cover;
    /* border-radius: 50%; */
}

.i-name {



    color: #444a53;
    padding: 0px 30px 0 30px;
    font-size: 20px;
    font-weight: 600;
    height: 30px;

    
}
.n1{
    display: flex;
    justify-content:start ;
    align-items:center;
}



.values {
    padding: 5px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  

.values .val-box{
    background: #fff;
    width:260px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom:2px;
   


}

.values .val-box i {
    font-size: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 15px;
}

.values .val-box:nth-child(1) i{
    background:#7B74EC;
}
.values .val-box:nth-child(2) i{
    background:#5C8AF0
}
.values .val-box:nth-child(3) i{
    background: #ffbf009f;

}
.values .val-box:nth-child(4) i{
    background: #E45D99;
   

}

.values .val-box h3 {
    font-size: 18px;
    font-weight: 600;
}

.values .val-box span{
    font-size: 15px;
    color: #828997;
}


/* Table  */

.board{
    width: 94%;
    margin: 5px 0 30px 30px;

    background: #fff;
    border-radius: 8px;
    max-height:calc(60.4%);


    overflow: auto;
    /* Active le défilement si le contenu dépasse les dimensions */
 

}

.board img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 15px ;
    margin-right: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.board h5{
    font-weight: 400;

}
.board p{
    font-weight: 400;
    font-size: 13px;
    color: #787d8d;
}
.board .people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}
table{
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid #eef0f3;
}

thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #404142;
    background: #F9FAFB;

    text-align: justify;
    padding: 10px 15px;
    position: sticky;
    top: 0;
    z-index: 2;

    /* ***************************************************** */
  
}


tbody tr td {
    padding: 0px 15px;
    
}



tr:nth-child(even) {
    background: #b3dcbd29; 
  background:  rgba(11, 14, 185, 0.024);


}  



.active p{
    background: #E45D99; 

    /* background: #d7fada; */
    /* background: #ffdd00ee; */
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}
.edit a{
    text-decoration: none;
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;
}







@media (max-width:769px){
    #menu{

        width: 270px;
        position: fixed;
        left: -270px;

    }

    #interface{
        width: 100%;
        margin-left: 0px;
        display: inline-block;
    }

    #interface .navigation{
        width: 100%;
        

    }

    .values{
        padding: 10px 30px 0 30px;
        justify-content: flex-start;
    }

    .values .val-box {
        padding: 16px 20px;
        margin: 10px 20px 10px 0;
    }


    .board{

        width: auto;
        margin: 0px 15px 0 30px 15px;
        margin-right: 30px;
        max-height:none  ;
        overflow: auto;
        
    }

    table{
        width: 100%;
        border-collapse: collapse;
        
    }
    
    #menu-btn{
        display: initial;
        display: block;
    }
    .nav2 #nav2-btn img{
  
        margin-right:30px;

    }


 
}

@media (max-width:477px){


    #interface .navigation{
        padding: 15px;
    }
    #interface .navigation .search input {
        width: 150px;
    }



    .values .val-box{
        width: 100%;
        margin: 8px 0;
    }
    .board{
        width: auto;
        margin: 0px 15px 0 30px 15px;
        margin-right: 30px;

        /* height: auto; */

        max-height:none  ;
        overflow: auto;
    }

    thead td{
        position: static;
        top: 0;
    }

    body{
        position: relative;
    }

    .values {
        padding: 10px 30px 0 30px;
        justify-content: flex-start;
    }

    #menu-btn{
        display: initial;
        display: block;
    }


    .nav2 #nav2-btn img{
  
        margin-right:30px;

    }



} 

@media print {
    .values {
      display: flex;
      flex-direction: row !important;
      flex-wrap: nowrap !important;
    }

    body, .values ,.values .val-box{
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  
    .values ,.values .val-box{
      background-color: inherit !important; 
      border: inherit !important; 
    }
    
  
    .values div, .values span ,.values .val-box{
      background-color: inherit !important; 
      border: inherit !important; 
    }



  }







